.vert-content ul {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 70%;
  transition-duration: 0.5s;
}
.open-ul {
  visibility: visible;
  animation: slideDown 0.5s ease-in-out;
}

.close-ul {
  animation: slideUp 0.5s ease-in-out;
  visibility: hidden;
}

.vert-content li {
  padding-top: 10px;
}

.topic {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 30px 0px;
}

.topic h4 {
  margin: 0;
  font-size: calc(100vw * 0.017 + 4px);
}

/* Mobile */
@media only screen and (max-width: 568px) {
  .open-ul {
    display: block;
  }
  .close-ul {
    display: none;
  }
  .topic {
    justify-content: left;
    padding-left: 30px;
    margin: 0px;
  }

  .topic h4 {
    font-size: 16px;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}
