.vert-content ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 70%;
}

.vert-content li {
    padding-top: 10px;
}

.topic {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 30px 0px;
}

.topic h4 {
    margin: 0;
    font-size: calc(100vw * 0.017 + 4px);
}

@keyframes slideDown {
    from { transform: translateY(-20%); opacity: 0; }
    to { transform: translateY(0%); opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(0%); opacity: 1; }
    to { transform: translateY(-20%); opacity: 0; }
}