.hero-page {
    height: calc(100vw * 0.7052 + 300px);
    width: 100%;
    background-image: url("/final.png"), url('/background.png') ;
    background-position: 0px 300px, -230px 0px;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100% auto, auto 100%;
    font-family: 'Puritan', sans-serif;
}