.hero-page {
    height: calc(100vw * 0.81875 + 0px);
    width: 100%;
    background-image: url("/hero/hero-background.png");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    font-family: 'Puritan', sans-serif;
}

@media (max-width: 541px) {
    .hero-page {
        height: 100vh;
        background-image: url("/hero/mobile-hero.png");
        background-color: #3D3D3D;
        background-position: bottom;
        background-size: cover;
    }

}