.social-media {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.media-button {
    margin: calc(100vw * 0.01428) calc(100vw * 0.01428) 0px 10px;
    cursor: pointer;
}

.media-button svg {
    height: calc(100vw * 0.02 + 5px);
    width: calc(100vw * 0.02 + 5px);
}