.background-loader {
    position: absolute;
    display: none;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    animation: disappear 1ms forwards;
    animation-delay: 3s;
}

.loader {
    position: absolute;
    width: 300px;
    height: 300px;
    top: auto;
    left: auto;
    opacity: 1;
	background-color: #23225B;
    border-radius: 50%;
    opacity: 0;
    animation: loader 1.2s ease-in-out;
    animation-delay: 0.75s;
}

.rocket-1 img {
    top: auto;
    left: auto;
    position: absolute;
    width: auto;
    height: 160px;
    margin-left: calc(-0.221 * 160px);
    margin-top: -80px;
    animation: rocket-up 2s;
    animation-fill-mode: backwards;
    transform: translateY(100vh);
}

.rocket-2 img {
    top: auto;
    left: auto;
    position: absolute;
    width: auto;
    height: 160px;
    margin-left: calc(-0.221 * 160px);
    margin-top: -80px;
    animation: rocket-above 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    transform: translateY(-100vh);
}

@keyframes loader {
	0% {
        transform: scale(0);
	}
	100% {
		transform: scale(1.0);
		opacity: 0.8;
	}
}

@keyframes rocket-up {
    0% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes rocket-above {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100vh);
    }
}

@keyframes disappear {
    from {
        transform: translateY(0);
        transform: translateX(0);
    }
    to {
        transform: translateY(-99999px);
        transform: translateX(-99999px);
    }
}