.question {
    width: 75%;
    text-align: start;
    font-size: 22pt;
    padding-top: 20px;
}

.ques {
    cursor: pointer;
    font-size: calc(100vw * .01591089896 + 0pt);
}

.ans {
    font-size: calc(100vw * 0.01352426412 + 0pt);
    padding: 15px 0px;
}

.line {
    width: 100%;
    border-bottom: 1.5px solid white;
    padding-top: 20px;
}

@keyframes slideDown {
    from { transform: translateY(-20%); opacity: 0; }
    to { transform: translateY(0%); opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(0%); opacity: 1; }
    to { transform: translateY(-20%); opacity: 0; }
}