.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    height: 130px;
    width: 100%;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 24pt;
    font-weight: 400;
    margin: 30px;
}

.space {
    width: 4%;
}

.schedule, .apply {
    display: flex;
    align-items: center;
    justify-content: center;
}