.logo {
    height: 50%;
    width: 4%;
    background-color: white;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    height: calc(100vw * 0.08814102564 + 0px);
    width: 100%;
    font-family: 'Puritan', sans-serif;
}

.nav a, .apply {
    text-decoration: none;
    color: white;
    font-size: calc(100vw * 0.0192 + 2pt);
    font-weight: 400;
    margin: calc(100vw * 0.024);
}

.apply {
    cursor: pointer;
}

.space {
    width: 4%;
}

.space-between {
    flex: 1;
}

.schedule, .apply {
    display: flex;
    align-items: center;
    justify-content: center;
}
