.about {
    width: 600px;
    margin-left: 7%;
    color: white;
    z-index: 1;
    position: relative;
    top: calc(100vw * 0.0801 * -1 + 0px);
}

.sachacks {
    font-size: calc(100vw * 0.04697986577 + 0pt);
    font-weight: 700;
    margin: 20px 0px;
}

.motto {
    font-size: calc(100vw * 0.02013422818 + 5pt);
    font-weight: 600;
    width: 100%;
    margin: 15px 0px;
}

.motto .red {
    color: #F27672;
    padding-right: 10px;
}

.motto .green {
    color: #7BDDDE;
    padding-right: 10px;
}

.motto .blue {
    color: #8995FF;
}

.date {
    font-size: calc(100vw * 0.01140939597 + 5pt);
    margin: 10px 0;
}

.description {
    width: calc(100vw * 0.4497992 + 0px);
    font-size: calc(100vw * 0.01140939597 + 5pt);
    line-height: calc(100vw * 0.024096 + 0pt);
}

.map-buttons {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.map-button {
    height: calc(100vw * 0.027 + 3px);
    width: calc(100vw * 0.118 + 0px);
    font-size: calc(100vw * 0.01 + 3px);
    background-color: #ffffff;
    margin: 0px 20px 0px 0px;
    border: 2px solid #DCDCDC;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #000000;
    cursor: pointer;
}

@media (max-width: 541px) {
    .about {
        position: relative;
        width: 100vw;
        top: 150px;
        left: 0;
    }

    .sachacks {
        font-size: 55px;
    }

    .motto {
        font-size: 30px;
    }

    .date {
        font-size: 18px;
    }

    .description {
        width: 80%;
        font-size: 18px;
        line-height: 25px;
    }
}