.faq {
    height: calc(100vw * 1.0125 + 0px);
    width: 100vw;
    font-family: 'Puritan', sans-serif;
    background-image: url("/faq.png");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100% auto, auto 100%;
    background-color: #F8F8F8;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.faq h1 {
    margin: 0;
    padding: calc(100vw * 0.064257 + 0px) 0px;
    font-size: calc(100vw * 0.03579952267 + 0pt);
    font-weight: 700;
}

.questions {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.left-side, .right-side {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width: 541px) {
    .faq {
        height: auto;
        background-color: #011341;
        padding-bottom: 40px;
    }

    .faq h1 {
        font-size: 18px;
        padding: 30px 0 0 0;
    }

    .questions {
        flex-direction: column;
    }
    .left-side, .right-side {
        width: 100%;
    }
}